:root {
  --color-Black: #333333;
  --color-Gray: #55504a;
  --color-LightGray: #a09a93;
  --color-White: #ffffff;
  --color-BlueGray: #d5dded;
}
$padding--pc: 56px 180px 96px 180px;
$padding--tablet: 56px 21px 88px 24px;
$padding--mobile: 40px 20px 55.65px 20px;

$tablet: 1024px;
$mobile: 768px;
